<!DOCTYPE html>
<html>
    <head>
        <title>
                Contributors | Code Red
        </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}">  
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <div class = "container mt-2">
        <h2>Contributors</h2>
        <ul>
            {% for name in names %}
            <li><a href = "{{ url_for('user', name = name) }}">{{name}}</a></li>
            {% endfor %}
        </ul>
        </div>
        {% endblock %}
    </body>
</html>