<!DOCTYPE html>
<html>
    <head>
        <title>
                Genres | Code Red
        </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}">  
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <div class = "container mt-2">
        <h2>Genres</h2>
        <h5><ul>
            {% for name in genres %}
            <li><a href = "{{ url_for('genre', genre = name) }}" target = "_blank">{{name}}</a></li>
            {% endfor %}
        </ul>
        </h5>
        </div>
        {% endblock %}
    </body>
</html>