<!DOCTYPE html>
<html>
    <head>
        <title>
                Code Red
        </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}">  

    </head>
    <body>
        
        {% extends "template.html" %}
        {% block content %}
        <div class = "container text-center">
            <h3>Welcome to Code Red</h3>
            <p>Here is a list of movies curated by people like you</p>
        </div>
        <div class = "container row pt-3 mx-auto">
            {% for movie in movies %}
            <div class = "col-sm-3">
            <div class = "card pt-2 shadow m-1 mt-3 border-0">
                <div class = "container mt-2">
                    {% if movie.image %}
                    <img class = "card-img-top" src = "data:image/jpg;charset = utf-8;base64,{{movie.image}}" alt = "Card image">
                    {% else %}
                    <img class = "card-img-top" src = "{{url_for('static',filename = 'images/codered.jpg')}}" alt = "Card image">
                    {% endif %}
                </div>
                <a href = '{{ url_for("movie", id = movie.id) }}' class = "stretched-link"></a>
                <div class = "card-body pt-2">
                    <p class = "m-0"><strong>{{movie.movie}}</strong></p>
                    <p class = "m-0 mb-1 small">{{movie.genre}}</p>
                    <div class = "row">
                        <p class = "col m-0">{{movie.year}}</p>
                        <p class = "float-right col m-0">IMDb: {{movie.imdb}}</p>
                    </div>
                    
                </div>
            </div>    
            </div>
            
            {% endfor %}
        </div>
        {% endblock %}
        <script>
            $('img').on("error", function() 
            {
                $(this).attr('src', '/images/codered.jpg');
            });
        </script>
    </body>
</html>