<!DOCTYPE html>
<html>
    <head>
        <title>Code Red</title>
    </head>
    <body>
        <script>
            $('img').on("error", function() 
            {
                $(this).attr('src', '/images/codered.jpg');
            });
        </script>
        {% extends "template.html" %}
        {% block content %}
        <div class = "container text-center">
            <h3>Welcome to Code Red</h3>
            <p>Here is a list of movies curated by people like you</p>
        </div>
        <div class = "container row pt-3 mx-auto">
            {% for movie in movies %}
            <div class = "col-sm-3">
            <div class = "card pt-2 shadow m-1 mt-3 border-0">
                <div class = "container mt-2">
                    {% if movie[3] %}
                    <img class = "card-img-top" src = "{{movie[3]}}" alt = "Card image">
                    {% else %}
                    <img class = "card-img-top" src = "{{url_for('static',filename = 'images/codered.jpg')}}" alt = "Card image">
                    {% endif %}
                </div>
                
                <div class = "card-body">
                    <p><strong>{{movie[0]}}</strong></p>
                    <p>{{movie[1]}}</p>
                    <p><em>IMDB: {{movie[2]}}</em></p>
                </div>
            </div>    
            </div>
            
            {% endfor %}
        </div>
        {% endblock %}
    </body>
</html>