<!DOCTYPE html>
<html>
    <head>
        <title>
            Template
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- 
            <link rel = "stylesheet" href = "{{ url_for('static',filename = 'css/bootstrap.min.css')}}"> 
        -->
    </head>
    <body>
        <div>
            <div class = "container-fluid bg-dark text-white">
                <nav class = "navbar">
                    <div class = 'text-white'>
                        <h3>Code Red</h3>
                    </div>
                    <div class = 'd-none d-md-flex btn-group float-right'>
                        <div class = 'btn btn-secondary'><a href = "{{ url_for('index') }}" class = 'text-white'>Home</a></div>
                        <div class = 'btn btn-secondary'><a href = "{{ url_for('random') }}" class = 'text-white'>Random movie</a></div>
                        <div class = 'btn btn-secondary'><a href = "{{url_for('contribute') }}" class = 'text-white'>Contribute</a></div>
                        <div class = 'btn btn-secondary'><a href = "{{ url_for('about') }}" class = 'text-white'>About</a></div>
                    </div>
                    <div class = 'd-md-none btn-group float-right'>
                        <button type="button" class="btn btn-secondary dropdown-toggle shadow-none" data-toggle="dropdown">Menu
                            <span class="caret"></span>
                        </button>
                        <ul class = 'dropdown-menu dropdown-menu-right shadow border-0' role = 'menu'>
                            <li><a href = "{{ url_for('index') }}" class = 'text-center dropdown-item' role="menuitem">Home</a></li>
                            <li><a href = "{{ url_for('random') }}" class = 'text-center dropdown-item' role="menuitem">Random movie</a></li>
                            <li><a href = "{{url_for('contribute') }}" class = 'text-center dropdown-item' role="menuitem">Contribute</a></li>
                            <li><a href = "{{ url_for('about') }}" class = 'text-center dropdown-item' role="menuitem">About</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class = "container-fluid p-3">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>